.color {
    color: red;
}
.light {
    color: yellow;
}
.dark {
    color: #1000a9;
}
.border {
    width: 750px;
    border: 1px solid black;
    transform: translate(0, 10px);
    box-sizing: border-box;
}